models/
# Python virtual environments
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Model weights
*.pt
*.onnx
*:Zone.Identifier